@import './reset';
@import './variables';
@import './components/game-list.scss';
@import './components/sidebar.scss';
@import './components/language-switcher.scss';
@import './components/header.scss';
@import './components/login.scss';
@import './components/register.scss';
@import './components/admin-dashboard.scss';
@import './components/admin-general.scss';
@import './components/game-details.scss';
@import './components/submit-game.scss';
@import './components/manage-categories.scss';
@import './components/manage-games.scss';
@import './components/create-category-modal.scss';
@import './components/edit-category-modal.scss';
@import './components/dice-roller.scss';
@import './components/create-game-modal.scss';
@import './components/edit-game-modal.scss';

* {
  font-family: 'Roboto', sans-serif;
}

.main {
  padding: 1rem;
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: 768px) {
    margin-left: 260px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.katermodus-icon {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;

  .icon-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px; 
      height: 50px;
      border-radius: 50%; 
      background-color: #444; // Default dark background for circle
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      
      i {
          font-size: 1.5em; 
          color: #FFF; // Cat is in a dimmed state by default
      }
  }

  &.active .icon-circle {
      background-color: #333; // Darker circle when Katermodus is active
      
      i {
          color: #999; // Cat is bright white when Katermodus is active
      }
  }

  @media (max-width: 768px) {
      bottom: 70px;
  }
}

.ReactModal__Content.ReactModal__Content--after-open {
  background: $dark-bg !important;  // Use the dark background variable
  color: $dark-text;  // Apply dark text color
  border: 1px solid $dark-accent;  // If you want the border to match dark mode
}

body {
  &.katermodus {
    background-color: $dark-bg;
    color: $dark-text;
  }

  .katermodus-icon {
    transition: transform 0.3s ease-in-out;
  
    &.hidden {
      transform: translateY(100%);
    }
  }
  
}
